<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>HEYE</title>
  </head>
  <body>
    <h1>Friends</h1>
      <table style="width:50%">
        <tr>
          <th> ID </th>
          <th> NAME </th>
          <th> AGE </th>
          <th> FRIEND SINCE </th>
          <th> YEAR </th>
        </tr>
      </table>
    <h1>Add a Friend</h1>
    Name: <input type="text" name="name" value=""><br>
    Name: <input type="text" name="age" value=""><br>
    <input type="submit" name="submit" value="submit">
  </body>
</html>
